.App {
  text-align: center;
  margin-top: 50px;
}

form {
  display: inline-block;
  padding: 20px;
  border-color: #000000;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 7px;
  font-size: 18px;
}

button:hover {
  background-color: #ffffff;
  color: #000000;
}

.blastButton {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #5c5a5a;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 28px;
  transition: transform 0.1s, box-shadow 0.1s;
}

.blastButton:hover {
  background-color: #5c5a5a;
  color: #ffffff;
}

.blastButton:active {
  transform: translateY(4px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.timerContainer {
  margin-top: 20px;
}

.timerText {
  font-size: 50px;
  color: #5c5a5a;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  margin-top: 20px;
}

.detonationGif {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 9999;
}