body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.app {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  text-align: center;
}

.question h2 {
  color: #5f4b8b;
  font-size: 24px;
  margin-bottom: 20px;
}

.answers {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.answers input {
  margin-right: 10px;
}

.submit-btn {
  background-color: #5f4b8b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #4b3a70;
}

.results {
  font-size: 18px;
}

.results p {
  margin-top: 10px;
}

.results h2 {
  color: #5f4b8b;
  font-size: 24px;
}

.incorrect-answers {
  margin-top: 20px;
  text-align: left;
}

.incorrect-answers h3 {
  color: #ff5c8d;
}

.incorrect-answers ul {
  list-style-type: none;
  padding: 0;
}

.incorrect-answers li {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.incorrect-answers li strong {
  color: #5f4b8b;
}

.incorrect-answers li em {
  display: block;
  color: #888;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

.question, .results {
  animation: fadeIn 1s ease-out;
}